@model List<ProductCRUD.gRPC.ProductResponse>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<ul>
@foreach (var item in Model)
{
    <li>@item.Id @item.Name @item.Price @item.Stock</li>
}
</ul>

